# systemmd file.
# This file should be located in /lib/systemd/system/kiosk.service
[Unit]
Description=Chromium Kiosk daemon
Wants=graphical.target
After=network-online.target

[Service]
Environment=DISPLAY=$DISPLAY
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
# ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash /home/pi/kiosk.sh
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=network-online.target
